Repository LeraWindler/PrivateForexTrading: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, solhint --fix

chore: create .prettierignore
  .prettierignore
Due: none

chore: update .prettierrc.json
  .prettierrc.json
Due: prettier --write

chore: update .solhint.json
  .solhint.json
Due: prettier --write

chore: create .solhintignore
  .solhintignore
Due: none

docs: update DEPLOYMENT documentation
  DEPLOYMENT.md
Due: prettier --write

docs: update COMMANDS documentation
  COMMANDS.md
Due: prettier --write

chore: add files via upload: EnhancedPrivateForexTrading
  EnhancedPrivateForexTrading.sol
Due: prettier --write, solhint --fix

chore: add files via upload: EnhancedInterface
  EnhancedInterface.html
Due: none

feat: add new features: hardhat.config
  hardhat.config.ts
Due: eslint --fix, prettier --write

docs: update IMPLEMENTATION_SUMMARY documentation
  IMPLEMENTATION_SUMMARY.md
Due: prettier --write

docs: update PROJECT_SUMMARY documentation
  PROJECT_SUMMARY.md
Due: prettier --write

docs: update LICENSE documentation
  LICENSE
Due: none

docs: update README
  README.md
Due: prettier --write

docs: update TEST_EXECUTION_SUMMARY documentation
  TEST_EXECUTION_SUMMARY.md
Due: prettier --write

docs: update SECURITY documentation
  SECURITY.md
Due: prettier --write

docs: update TEST_REPORT documentation
  TEST_REPORT.md
Due: prettier --write

docs: update TESTING_GUIDE documentation
  TESTING_GUIDE.md
Due: prettier --write

build: update webpack.config.js
  webpack.config.js
Due: eslint --fix, prettier --write

docs: update TOOLCHAIN documentation
  TOOLCHAIN.md
Due: prettier --write

build: update tsconfig.json
  tsconfig.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,ts}
  prettier --write: ((any of: *.{js,ts}) or (any of: *.sol)) or (any of: *.{json,md})
  solhint --fix: any of: *.sol
